In [1]:
import sdv.demo as demo

In [2]:
demo.get_available_demos()

                     name  tables     rows  columns
0                UTube_v1       2     2735       10
1                  SAP_v1       4  3841029       71
2                 NCAA_v1       9   202305      333
3       airbnb-simplified       2  5751408       22
4      Atherosclerosis_v1       4    12781      307
5                rossmann       3  2035533       21
6                 walmart       4   544869       24
7   AustralianFootball_v1       4   139179      193
8           Pyrimidine_v1       2      296       38
9                world_v1       3     5302       39
10           Accidents_v1       3  1463093       87
11              trains_v1       2       83       15
12           legalActs_v1       5  1754397       50
13                 DCG_v1       2     8258        9
14            imdb_ijs_v1       7  5647694       50
15             SalesDB_v1       4  6735507       35
16           MuskSmall_v1       2      568      173
17                 KRK_v1       1     1000        9
18               Chess_v1       2     2052       57
19             Telstra_v1       5   148021       23
20         mutagenesis_v1       3    10324       26
21       PremierLeague_v1       4    11308      250
22                 census       1    32561       15
23                FNHK_v1       3  2113275       43
24      imdb_MovieLens_v1       7  1249411       58
25           financial_v1       8  1079680       84
26                 ftp_v1       2    96491       13
27            Triazine_v1       2     1302       35

In [3]:
metadata, census_d = demo.load_demo('census', metadata=True)

In [4]:
metadata

Metadata
  root_path: C:\Data Sciences\python\3_9_10\lib\site-packages\sdv\data\census
  tables: ['census']
  relationships:

In [6]:
census_d['census'].head()

   age                 class of worker  ...  year    label
0   73                 Not in universe  ...    95  - 50000
1   58  Self-employed-not incorporated  ...    94  - 50000
2   18                 Not in universe  ...    95  - 50000
3    9                 Not in universe  ...    94  - 50000
4   10                 Not in universe  ...    94  - 50000

[5 rows x 41 columns]

In [7]:
from sdv.tabular import CTGAN

In [8]:
ctgan_model = CTGAN(epochs = 10)
ctgan_model.fit(census_d['census'])

C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:143: ConvergenceWarning: Number of distinct clusters (7) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:143: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:143: ConvergenceWarning: Number of distinct clusters (3) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:277: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  warnings.warn(
C:\Data Sciences\python\3_9_10\lib\site-packages\sklearn\mixture\_base.py:143: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  cluster.KMeans(
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()
C:\Data Sciences\python\3_9_10\lib\site-packages\ctgan\data_transformer.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name] = data[column_name].to_numpy().flatten()

In [11]:
ctgan_model.sample(10)

C:\Data Sciences\python\3_9_10\lib\site-packages\sdv\tabular\base.py:250: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled = previous_rows.append(sampled, ignore_index=True)

   age   class of worker  ...  year    label
0   27   Not in universe  ...    95  - 50000
1   21           Private  ...    95  - 50000
2    2           Private  ...    95  - 50000
3   39  State government  ...    94  - 50000
4    0   Not in universe  ...    95  - 50000
5   13   Not in universe  ...    94  - 50000
6    3   Not in universe  ...    94  - 50000
7   54           Private  ...    94  - 50000
8   84   Not in universe  ...    95  - 50000
9   15   Not in universe  ...    95  - 50000

[10 rows x 41 columns]